*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../img/wood.png');
}

.wrapper{
    width: 65%;
    margin:auto;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/*****______________ Header con Titoli ______________*****/
header{
    text-transform: uppercase;
    background-image: url('../img/trees.jpg');
    padding: 40px;
    border: solid 10px white;
    color: white;
}
#titolo1{
    font-size: 45px;
    margin: 10px;
}
#titolo2{
    font-size: 20px;
    font-weight:lighter;
}

/*****______________ Menù ______________*****/
.menu{
    font-size: 15px;
    text-transform: uppercase;
    background-color: #504741;
    margin-bottom: 20px;
}
/* .menu ul{
    text-align: center;
} */
.menu li{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 5px;
}
.menu li:hover{
    background-color:#333333;
}
.menu a{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 5px;
    color: white;
    text-decoration: none;
}
.dropdown::after{
    content: "⮟";
    margin-left: 5px;
}

/*****______________ Sezione centrale della pagina ______________*****/
.corpo-pagina{
    width: 100%;
}
.corpo-pagina::after{
    content: "";
    display: table;
    clear:both;
}

aside{
    width: calc(25% - 10px);
    border: solid 2px;
    border-radius: 3px;
    float: left;
}
aside.left{
    margin-right: 10px;
}
aside.right{
    margin-left: 10px;
}
aside div{
    text-align: left;
    background-color: white;
    width: 100%;
    padding: 20px;
    border-radius: 3px;
    float: left;
}
aside ul{
    list-style: none;
    padding: 10px;
}
aside li{
    padding: 10px;
}

.right-top{
    margin-bottom: 10px;
}

.right-middle{
    margin-top: 10px;
    margin-bottom: 10px;
}
.right-bottom{
    margin-top: 10px;
}

main{
    background-color: white;
    width: calc(50% - 20px);
    border: solid 2px;
    margin: 0 10px 0 10px;
    float: left;
}



footer{
    background-color: white;
    margin-top: 10px;
    padding: 20px;
    border: solid 2px;
}
