*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../img/wood.png');
}

.wrapper{
    color: grey;
    width: 65%;
    margin:auto;
    margin-top: 25px;
    font-family: 'Montserrat', sans-serif;
}

.greentext{
    color: #99cc33;
    text-decoration: none;
}

/*****______________ Header con Titoli ______________*****/
header{
    text-align: center;
    text-transform: uppercase;
    background-image: url('../img/trees.jpg');
    padding: 40px;
    border: solid 10px white;
    color: white;
}
#titolo1{
    font-size: 45px;
    margin: 10px;
}
#titolo2{
    font-size: 20px;
    font-weight:lighter;
}

/*****______________ Menù ______________*****/
.menu{
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #504741;
    margin-bottom: 20px;
}
.menu li{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 5px;
}
.menu li:hover{
    background-color:#333333;
}
.menu a{
    color: lightgrey;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 5px;
    text-decoration: none;
}
.dropdown::after{
    content: "⮟";
    margin-left: 5px;
}

/*****______________ Sezione centrale della pagina ______________*****/
.corpo-pagina{
    width: 100%;
}
.corpo-pagina::after{
    content: "";
    display: table;
    clear:both;
}
/*****______________ Stile aside ______________*****/
aside{
    width: calc(25% - 10px);
    border-radius: 3px;
    float: left;
}
aside.left{
    margin-right: 10px;
}
aside.right{
    margin-left: 10px;
}
aside div{
    background-color: white;
    width: 100%;
    padding: 20px;
    border-radius: 3px;
    float: left;
}
aside div h2{
    font-size: 20px;
    font-weight: lighter;
}
aside ul{
    list-style: none;
    padding: 10px;
}
aside a{
    display: inline-block;
    color: #99cc33;
    margin: 5px 0;
    text-decoration: none;
}
.right-top{
    margin-bottom: 10px;
}
.right-middle{
    margin-top: 10px;
    margin-bottom: 10px;
}
.right-bottom{
    margin-top: 10px;
}
/*****______________ Stile main ______________*****/
main{
    background-color: white;
    width: calc(50% - 20px);
    padding: 20px 0;
    margin: 0 10px 0 10px;
    float: left;
}
main h1{
    color: #333333;
    text-transform: uppercase;
    margin: 10px 20px;
}
main p{
    font-size: 15px;
    margin: 10px 20px;
    line-height: 25px;
}
#panorama{
    width: 100%;
    margin: 10px 0;
}

/*****______________ Stile footer ______________*****/
footer{
    font-size: 15px;
    background-color: white;
    margin-top: 10px;
    padding: 20px;
    border: solid 2px;
}
footer::after{
    content: "";
    display: table;
    clear:both;
}
.footer-left{
    margin: 20px;
    float: left;
}
.footer-right{
    float: right;
}
