*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../img/wood.png');
}

.wrapper{
    width: 80%;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/*****______________ Header con Titolo ______________*****/
header{
    background-image: url('../img/trees.jpg');
    padding: 40px;
    border: solid 5px white;
    color: white;
}
#titolo1{
    text-transform: uppercase;
}
#titolo2{
    font-weight:100;
}

/*****______________ Menù ______________*****/
.menu{
    background-color: #504741;
    margin-bottom: 20px;
}
.menu ul{
    align: center;
}
.menu li{
    display: inline-block;
    text-decoration: none;

}


.container{
    width: 100%;
    border: dotted 1px;
}

.container::after{
    content: "";
    display: table;
    clear:both;
}

aside{
    background-color: violet;
    width: calc(30% - 10px);
    padding: 20px;
    border: solid 2px;
    margin: 10px 10px 10px 0;
    float: left;
}

main{
    float: left;
    width: calc(40% - 20px);
    margin:10px;
    padding: 20px;
    background-color: purple;
    border: solid 2px;
}

.right-top{
    margin: 10px 0 10px 10px;
    float: left;
}

.right-bottom{
    margin: 10px 0 10px 10px;
    float: right;
}

footer{
    background-color: lightblue;
    margin-top: 10px;
    padding: 20px;
    border: solid 2px;
}
